PORT=3001
JWT_SECRET=
AWS_BUCKET_NAME=
AWS_BUCKET_REGION=
AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=
DATABASE_URL=
DIRECT_URL=
BETTER_AUTH_API_KEY=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3001 # Base URL of your app
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
RESEND_API_KEY=