JWT_SECRET=
PORT=
AWS_BUCKET_NAME=
AWS_BUCKET_REGION=
AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=



DATABASE_URL=""

# Direct connection to the database. Used for migrations
DIRECT_URL=""
BETTER_AUTH_API_KEY=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL= # Base URL of your app
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
